$main-bg-color: #fff;
$main-hover-color: #299764;
$main-title-color: #000;
$main-text-color: #555555;
$main-bg: #f5f5f5;
$main-font-weight: 400;
$main-durck: #1c1c1c;
$main-bg-durck: #272727;

:root {
  --main-bg-color: #{$main-bg-color};
  --main-hover-color: #{$main-hover-color};
  --main-title-color: #{$main-title-color};
  --main-text-color: #{$main-text-color};
  --main-bg: #{$main-bg};
  --main-font-weight: #{$main-font-weight};
  --main-durck: #{$main-durck};
  --main-bg-durck: #{$main-bg-durck};
}